.stars__star {
  background-image: url('..//images/star.svg');
  width: 16px; /* из Figma */
  height: 16px; /* округлено */
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 4px; /* расстояние между звёздами */
}

.stars__star:last-child {
  margin-right: 0;
}
